.navbar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.nav-link {
  color: #444 !important;
  font-size: 0.95rem;
}

.nav-link:hover {
  color: #387ed1 !important;
}

.navbar-brand img {
  transition: all 0.2s ease;
}

.navbar-brand img:hover {
  opacity: 0.9;
}
